@font-face {
    font-family: 'Rubik';
    src: url(assets/fonts/Rubik-VariableFont_wght.ttf) format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url(assets/fonts/Rubik-Italic-VariableFont_wght.ttf) format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url(assets/fonts/static/Rubik-Regular.ttf) format('truetype');
    font-style: normal;
}


@font-face {
    font-family: 'Rubik';
    src: url(assets/fonts/static/Rubik-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url(assets/fonts/static/Rubik-Italic.ttf) format('truetype');
    font-style: italic;
}


:root {
    --purple-600: hsl(277, 91%, 56%);
    --blue-900: rgb(45, 57, 73);
    --blue-850: rgb(59, 77, 102);
    --blue-300: rgb(171, 193, 225);
    --grey-500: rgb(98, 108,127);
    --grey-50: rgb(244, 246, 250);

    --dark-bg-clr: rgb(49, 62, 81);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--dark-bg-clr);
    background-image: url(assets/images/pattern-background-mobile-dark.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    height: 98vh;
    line-height: 1;
}


h1 {
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 0.8rem;
    white-space: nowrap;
}

h2 {
    color: var(--blue-300);
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 1rem;
}

h3 {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 2.4rem;
}

body.light {
    background-image: url(assets/images/pattern-background-desktop-light.svg);
    background-color: var(--grey-50);
    color: var(--blue-900);
}

h2.light {
    color: var(--grey-500);
}
.sub-heading {
    margin-bottom: 3rem;
}
.heading-bold {
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    body {
        background-image: url(assets/images/pattern-background-tablet-dark.svg);
        background-size: auto;
        font-size: 2.8rem;
    }
    body.light {
        background-image: url(assets/images/pattern-background-tablet-light.svg);
    }

    h1 {
        font-size: 6.4rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 3.6rem;
    }

}

@media screen and (min-width: 1024px) {
    body {
        background-image: url(assets/images/pattern-background-desktop-dark.svg);
        background-size: cover;
        width: 90%;
        margin: 0 auto;
    }
    body.light {
        background-image: url(assets/images/pattern-background-desktop-light.svg);
    }

    h1 {
        margin-bottom: 4rem;
    }

    h2 {
        margin-bottom: 2rem;
    }

}
/* containers */
.header-container, .container {
    padding: 2rem;
}

.header-gap {
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 768px) {
    .header-container, .container {
        padding: 4rem;
    }

    .header-container {
        padding-bottom: 0;
    }
}

@media screen and (min-width: 1024px) {
    .header-container {
        padding-bottom: 5rem;
    }
    .container, .quiz-section {
        display: flex;
        justify-content: center; 
        align-items: flex-start;
        gap: 12.8rem;
        width: 100%;
    }
    .menu-subjects {
        width: 564px;
    }
}

/* toggle switch */
.theme-toggle {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-end;
}
.switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--purple-600);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider::before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}


input:checked + .slider {
  background-color: var(--purple-600);
}

input:focus + .slider {
  box-shadow: 0 0 2px var(--purple-600);
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle-img {
    user-select: none;
}

@media screen and (min-width: 768px) {
    .theme-toggle {
        gap: 16px;
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 48px;
        height: 28px;
    }

    .slider::before {  
        height: 20px;
        width: 20px;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }
}

/* Buttons */

.btn {
    align-items: center;
    background-color: var(--blue-850);
    border-radius: 12px;
    border: none;
    color: inherit;
    display: flex;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    gap: 1.6rem;
    margin-bottom: 1.6rem;
    min-width: 100%;
    padding: 1.6rem;
    cursor: pointer;
    user-select: none;

}
.btn-answer {
    background-color: var(--purple-600);
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 3.2rem;
    max-height: 5.6rem;
    margin-bottom: 2.2rem;
}
.quiz-subjects .btn {
    padding: 1.7rem 2.2rem;
    border-radius: 12px;
}

.btn.light:not(.btn-answer) {
    background-color: #fff;
}

.subject-icons, .quiz-icons, .subject-icon, .result-subject-icon {
    max-height: 4rem; 
    max-width: 4rem; 
    padding: 1.6rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.subject-icons {
    border-radius: 12px;
   
}

.quiz-icons {
    border-radius: 8px;
}
.subject-icons > img {
    width: 2.8rem;
    height: 2.8rem;
}
.blue {
    background-color: rgb(235, 240, 255);
}

.green {
    background-color: rgb(224, 253, 239);
}

.orange {
    background-color: rgb(255, 245, 237);
}
.purple {
    background-color: rgb(246, 231, 255);
}

.grey {
    background-color: var(--grey-50);
    color: var(--grey-500);
}

.btn:hover:not(.correct-answer):not(.incorrect-answer),
.btn:focus:not(.correct-answer):not(.incorrect-answer) {
    outline: 2px solid hsl(277, 91%, 70%);
}

.btn-answer:hover {
    background-color: hsl(277, 91%, 50%);
    outline: none;
}

.btn:hover:not(.correct-answer):not(.incorrect-answer) .quiz-icons,
.btn:focus:not(.correct-answer):not(.incorrect-answer) .quiz-icons  {
    background-color: hsl(277, 91%, 70%);
    color: #fff;
}

.selected-option .quiz-icons{
    background-color: var(--purple-600);
    color: #fff;
}
.selected-option {
    outline: 2px solid var(--purple-600);
}

.option-btn {
    display: flex;
    gap: 1.6rem;
    align-items: center;
    width: 100%;
}

.answer-state {
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 768px) {
    .btn {
        gap: 3.2rem;
        border-radius: 24px;
    }

    .subject-icons > img {
        width: 4rem;
        height: 4rem;
    }

    .subject-icons, .quiz-icons,  .subject-icon, .result-subject-icon {
        padding: 1.6rem;
        max-height: 5.6rem; 
        max-width: 5.6rem; 
    }

    .quiz-icons {
        padding: 1.2rem 1.8rem;
    }

    .btn-answer {
        max-height: 9.6rem;
    }
}

/* Quiz */
#quiz, #subject-header, #results {display: none;}

.quiz-subject {
    display: flex;
    gap: 2.4rem;
    align-items: center;
}

.subject-icon, .result-subject-icon {
    border-radius: 5px;
}
.subject-icon > img, .result-subject-icon > img {
    width: 2.8rem;
    height: 2.8rem;
}

.quiz-subject > h1 {
   font-size: 1.8rem;
   margin: 0;
}

@media screen and (min-width: 768px) {
    .quiz-subject > h1 {
        font-size: 2.8rem;
    }
    
}

@media screen and (min-width: 1024px) {
    .quiz-subjects {
        width: clamp(500px, 100%, 600px);
    }

    #question {
        max-width: 500px;
    }
}
/* Progress bar */
.progress-bar {
    width: 100%;
    background-color: var(--blue-850);
    border-radius: 104px;
    border: 8px solid transparent;
    margin-bottom: 3rem;
}

.progress-bar.light {
    background-color: #fff;
}

.bar {
    width: 1%;
    height: 8px;
    background-color: var(--purple-600);
    border-radius: inherit;
}

@media screen and (min-width: 1024px) {
    .question-display-header {
        min-width: clamp(250px, 100%, 450px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 475px;
    }
}
/* checking */

.error-status {
    display: none;
    width: 100%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.correct-answer .quiz-icons {
    background-color: hsl(151, 68%, 52%);
    color: #fff;
}
.correct-answer {
    outline: 2px solid hsl(151, 68%, 52%);
}

.incorrect-answer .quiz-icons {
    background-color: hsl(0, 82%, 63%);
    color: #fff;
}
.incorrect-answer {
    outline: 2px solid hsl(0, 82%, 63%);
}

/* Results */
 .result-section {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
.result-title {
    color: #fff;
    font-size: 4rem;
    font-style: normal;
    line-height: 1.1;
    margin-bottom: 4rem;
     white-space: nowrap;
}

.result-screen {
    background-color: var(--blue-850);
    border-radius: 12px;
    padding: 3.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    text-align: center;
    margin-bottom: 1.6rem;
}
.result-con {
    width: 100%;
    max-width: 564px;
}

.score-text {
    font-size: 8.8rem;
    margin-bottom: 1.6rem;
}

.score-footer {
    color: var(--blue-300);
    font-weight: 400;
    margin-bottom: 1.6rem;
}

.subject-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    margin-bottom: 1.6rem;
}

.result-subject-title {
    margin: 0;
}
@media screen and (min-width: 768px) {
    .result-title {
        font-size: 6.4rem;
    }
    .result-screen {
        padding: 4.8rem;
    }
    .score-text {
        font-size: 14.4rem;
    }
    
    .subject-title {
        margin-bottom: 4rem;
    }

}

@media screen and (min-width: 1024px) {
    .result-section {
        display: flex;
        flex-direction: row;
        gap: 14%;
        align-items: flex-start;
        justify-content: center;
    }
}